body{
    margin: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

ul{
    list-style: none;
}

header{
    width: 100%;
    background-color: rgb(0, 179, 152);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header_list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    flex-direction: row;
}

.header_list, li{
    padding: 15px;
}



header, li, a{
    text-decoration: none;
}

.not_found {
    margin-left: auto;
    margin-right: auto;
}


.comment_form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    


}

.comment_input{
    
    width: 300px;
    height: 60px;
    border-color: cyan;
    border-radius: 20px;
    margin-top: 20px;
}
    



.comment_button{
    margin-top: 30px;
    background-color: cyan;
    border: none;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

.comment_input:focus{
    outline: none;
    border-color: rgb(233, 216, 195);
    box-shadow: 0px 0px 5px rgb(233, 216, 195);
}

.flash_message{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: fit-content;
}

.cont_username-photo{
    display: flex;

}

.page-header{
    display: flex;
}

.page-header img{
    margin: 20px 20px 0px 0px;
    max-height: 200px;
}

.post{
    font-size: 20px;
    line-height: 1.8rem;
    border: 2px solid green;
    margin-top: 15px;
}

.comment_button:hover{
    background-color: lightgreen;
}

.buttons_cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.post a{
    width: 100%;
}

.follower_info_cont {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
  }

  .follower_info_cont img {
    margin-right: 10px;
    border-radius: 50%;
  }

.follower_info_cont p{
    margin-right: 20px;
}

.btn-primary{
    background-color: lightgreen;
    margin-bottom: 20px;
    margin-top: 20px;
}

.filter-options{
    display: flex;
    flex-direction: column;
}

.followers_followed_links{
    display: flex;
}
.followers_followed_links a{
    margin: 20px;
}